{% load static %}
            <section class="contact-section section-padding" id="section_5">
                <div class="container">
                    <div class="row">



                        <div class="col-lg-6 col-12">













                        </div>

                    </div>
                </div>
            </section>
        </main>

        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'Guest/js/jquery.min.js' %}"></script>
        <script src="{% static 'Guest/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'Guest/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'Guest/js/click-scroll.js' %}"></script>
        <script src="{% static 'Guest/js/custom.js' %}"></script>

    </body>
</html>