{% load static %}
{% include 'Guest/header.html' %}
            <section class="book-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <img src="{% static 'Guest/images/tablet-screen-contents.jpg' %}" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="book-section-info">
                                <h6>Knowledge one touch away.</h6>


                                <h2 class="mb-4">Inkfinity</h2>

                                <p>Our Website is designed to cater specifically to the academic and professional needs of individuals in the fields of Science,Technology,Engineering and Mathematics.</p>

                                <p>Our website curates a vast array of textbooks,guides and question banks covering a wide spectrum of STEM disciplines.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>





            <section class="author-section section-padding" id="section_3">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <img src="{% static 'Guest/images/portrait-mature-smiling-authoress-sitting-desk.jpg' %}" class="author-image img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                            <h6>Meet Author</h6>

                            <h2 class="mb-4">Prof. Sophia</h2>

                            <p>Knowledge is power.</p>
                            <p>Information is liberty.</p>
                            <p>Education is the premise of progress,in every society,in every family.</p>
                            <p></p>

                        </div>

                    </div>
                </div>
            </section>



            {% include 'Guest/footer.html' %}