{% load static %}
{% include "Admin/header.html" %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-10 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">DISTRICT VIEW</h4>
<!--                        <p class="card-description">-->
<!--                            Add class <code>.table</code>-->
<!--                        </p>-->
                      <br>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>District Id</th>
                                    <th>District Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for d in dstrt %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{d.DistrictName}}</td>
                                    <th>
                                <button type="submit"
                                        onclick="window.location.href='{% url 'districtedit' id=d.DistrictId %}'"
                                        class="btn btn-primary mr-2">Edit
                                </button>
                                    <th>
                                <button type="submit"
                                        onclick="window.location.href='{% url 'districtdelete' id=d.DistrictId %}'"
                                        class="btn btn-danger mr-2">Delete
                                </button>
                            </th>

                            </th>

                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% include "Admin/footer.html" %}