{% load static %}
{% include "Admin/header.html" %}
<div class="main-panel">
<div class="content-wrapper">
    <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">LOCATION REGISTRATION</h4>
                <br>
                <br>
                <form class="forms-sample" action="{% url 'locationreg' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"><b>Location Name</b></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="locname" name="locname"
                                   placeholder="Enter Location Name">
                        </div>
                    </div>
                  <div class="from-group row">
                    <label class="col-sm-3 col-form-label">District Name</label>
                    <div class="col-sm-9">
                    <select class="form-control" name="Districtid">
                                <option value="" selected disabled>Select District</option>
                                {% for dist in district %}
                                <option value="{{ dist.DistrictId }}">{{ dist.DistrictName }}</option>
                                {% endfor %}
                            </select>
                      </div>
                  </div>
                 <br>
                 <br>
                  <button type=" submit" class="btn btn-primary mr-2">Register</button>
                            <input type="reset" class="btn btn-light" value="Cancel">


                </form>

            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    {% include "Admin/footer.html" %}

</div>
