<!DOCTYPE html>
{% load static %}
<!-- Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> Responsive Registration Form | CodingLab </title>
    <link rel="stylesheet" href="{% static 'Author/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-image: url('{% static 'User/bg.jpg' %}'); background-size: cover; background-position: center;">
<div class="container">
    <div class="title">Order</div>
    <div class="content">
        <form action="" method="post">
            {% csrf_token %}
            <div class="user-details">

                <div class="input-box">
                    <span class="details">Address</span>
                    <input type="text" id="address" name="address" placeholde="Enter Your Address" required>
                </div>
                <p>(* Not Required for pdf or ebook purchase*)</p>




            </div>

            <div class="button">

                <input type="submit" value="PayNow and Download">
                </a>
            </div>
            <div class="button">
                <input type="submit" value="Back">
            </div>
        </form>
    </div>
</div>

</body>
</html>
