<!DOCTYPE html>
{% load static %}
<!-- Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="{% static 'Author/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-image: url('{% static 'User/bg.jpg' %}'); background-size: cover; background-position: center;">
<div class="container">
    <div class="title">Search My Book</div>
    <div class="content">
        <form action="{% url 'searchbook' %}" method="post">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Book</span>
                    <input type="text" placeholder="Enter the book name" name="book" id="book"required>
                </div>
                <div class="input-box">

                </div>
                <div class="input-box">
                    <span class="details">Category</span>

                    <select class="form-control" name="cat">
                        <option>Category</option>

                        {% for c in Category %}
                        <option value="{{c.Categoryid}}">{{c.Categoryname}}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="input-box">
                    <span class="details">Book Type</span>

                    <select class="form-control" name="type">
                        <option>Type</option>

                        {% for s in Type %}
                        <option value="{{s.subid}}">{{s.subname}}</option>
                        {% endfor %}
                    </select>

                </div>


            </div>

            <div class="button">

                <input type="submit" value="Search">
                </a>
            </div>
            <div class="button">
                <input type="submit" value="Back">
            </div>
        </form>
    </div>
</div>

</body>
</html>
